<section class="genres">
    <h2 class="visually-hidden">Genres</h2>
    <ul class="genres-list">
        <li class="genres-list__list-item genres-list__list-item--rock">
            <a routerLink="/albums/rock" class="genres-list__list-item__button" href="#">Rock</a>
        </li>
        <li class="genres-list__list-item genres-list__list-item--electro">
            <a routerLink="/albums/electro" class="genres-list__list-item__button" href="#">Electro</a>
        </li>
        <li class="genres-list__list-item genres-list__list-item--hiphop">
            <a routerLink="/albums/hiphop" class="genres-list__list-item__button" href="#">Hip-hop</a>
        </li>
        <li class="genres-list__list-item genres-list__list-item--pop">
            <a routerLink="/albums/pop" class="genres-list__list-item__button" href="#"><span>Pop</span></a>
        </li>
        <li class="genres-list__list-item genres-list__list-item--rnb">
            <a routerLink="/albums/rnb" class="genres-list__list-item__button" href="#">R&B</a>
        </li>
        <li class="genres-list__list-item genres-list__list-item--indie">
            <a routerLink="/albums/indie" class="genres-list__list-item__button" href="#">Indie</a>
        </li>
    </ul>
</section>