/*
---------------------------------------------

GENRES STYLES

---------------------------------------------
*/

.genres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

/*
---------------------------------------------

START: Genres list

---------------------------------------------
*/

.genres-list {
    display: grid;
    padding: 0;
    margin: 0;
    max-width: 100%;
    grid-template-columns: 445px 445px 445px;
    grid-template-rows: 290px 290px;
    grid-gap: 35px;
    justify-content: center;
    position: relative;
}

/*
---------------------------------------------

START: Genres list item

---------------------------------------------
*/

.genres-list__list-item {
    display: block;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    --list-item--red: #ec1e32;
    --list-item--lightblue: #9bf1e1;
    --list-item--orange: #f59c23;
    --list-item--green: #c3f0c8;
    --list-item--purple: #f138a5;
    --list-item--blue: #4100f5;
    box-shadow: 0 5px 15px 0px black;
    color:#ffffff;
    transition: filter;
    transition-duration: .3s;
    -webkit-transition: filter;
    -moz-transition: filter;
    -ms-transition: filter;
    -o-transition: filter;
}

.genres-list__list-item--rock {
    background-color: var(--list-item--red);
}

.genres-list__list-item--electro {
    background-color: var(--list-item--lightblue);
}

.genres-list__list-item--hiphop {
    background-color: var(--list-item--orange);
}

.genres-list__list-item--pop {
    background-color: var(--list-item--green);
}

.genres-list__list-item--rnb {
    background-color: var(--list-item--purple);
}

.genres-list__list-item--indie {
    background-color: var(--list-item--blue);
}

.genres-list__list-item::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0px;
    right: -25px;
    width: 156px;
    height: 156px;
    transform: rotate(25deg);
    background-size: cover;
    background-position: 40% 40%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    z-index: -1;
}

.genres-list__list-item::after {
    background-image: url(../../assets/img/genres/rock.jpg);
}

.genres-list__list-item--electro::after {
    background-image: url(../../assets/img/genres/electro.jpg);
}

.genres-list__list-item--hiphop::after {
    background-image: url(../../assets/img/genres/hiphop.jpg);
}

.genres-list__list-item--pop::after {
    background-image: url(../../assets/img/genres/pop.jpg);
}

.genres-list__list-item--rnb::after {
    background-image: url(../../assets/img/genres/rnb.jpg);
}

.genres-list__list-item--indie::after {
    background-image: url(../../assets/img/genres/indie.jpg);
}
/*
---------------------------------------------

START: Genres list item button

---------------------------------------------
*/

.genres-list__list-item__button {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-size: 18px;
    text-decoration: none;
    transition: box-shadow;
    -webkit-transition: box-shadow;
    -moz-transition: box-shadow;
    -ms-transition: box-shadow;
    -o-transition: box-shadow;
    transition-duration: .3s;
    z-index: 1;
}

.genres-list__list-item__button:focus,
.genres-list__list-item__button:hover {
    background-color: rgba(255, 255, 255, .15);
}

.genres-list__list-item__button:active {
    box-shadow: inset 0 0 4px 0 black;
}

.genres-list__list-item__button:visited {
    color: inherit;
}


/*
---------------------------------------------

END: Genres list item button

---------------------------------------------

END: Genres list item

---------------------------------------------

END: Genres list

---------------------------------------------
*/