html {
    --body-background: #1a1919;
}

body {
    margin: 0;
    background-color: var(--body-background);
    font-family: Arial, Helvetica, sans-serif;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
