/*
---------------------------------------------

ALBUMS STYLES

---------------------------------------------

START: Albums header

---------------------------------------------
*/

.albums-header {
    display: flex;
    background-color: #131212;
    padding: 26px 30px;
    justify-content: flex-start;
    align-items: center;
}

/*
---------------------------------------------

START: Albums header button

---------------------------------------------
*/

.albums-header__button {
    padding: 10px;
    width: 120px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: all;
    transition-duration: .3s;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
}

.albums-header__button:active {
    outline: none;
    box-shadow: inset 0 0 3px 0 #757575;
}

.albums-header__button:hover,
.albums-header__button:focus {
    outline: none;
    border: 1px solid #757575;
}

.albums-header__button:visited {
    color: white;
}

/*
---------------------------------------------

END: Albums header button

---------------------------------------------

START: Albums header search

---------------------------------------------
*/

.albums-header__search {    
    display: block;
    padding: 10px;
    margin: 0 0 0 40px;
    min-width: 406px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 18px;
    line-height: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.albums-header__search::placeholder {
    color: transparent;
}

/*
---------------------------------------------

END: Albums header search

---------------------------------------------

START: Albums header favorite

---------------------------------------------
*/

.albums-header__favorite {
    position: relative;
    margin: 0 0 0 auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    font-size: 0;
}

/*
---------------------------------------------

START: Albums header favorite icon

---------------------------------------------
*/

.albums-header__favorite__icon {
    width: 80%;
    height: 80%;
    fill: white;
    stroke: white;
}

/*
---------------------------------------------

END: Albums header favorite icon

---------------------------------------------

START: Albums header favorite counter

---------------------------------------------
*/

.albums-header__favorite__counter {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -5px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    background-color: #3f50b5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*
---------------------------------------------

END: Albums header favorite counter

---------------------------------------------

END: Albums header favorite

---------------------------------------------

END: Albums header 

---------------------------------------------

START: Albums list 

---------------------------------------------
*/

.albums-list {
    display: grid;
    margin: 0 0 20px 0;
    padding: 20px;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

/*
---------------------------------------------

START: Albums list item

---------------------------------------------
*/

.albums-list__list-item {
    display: block;
    position: relative;
    height: 0;
    padding-top: 100%;
    border-radius: 10px;
    overflow: visible;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-bottom: 1px solid black;
}

/*
---------------------------------------------

START: Albums list item description

---------------------------------------------
*/

.albums-list__list-item__description {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-color: #1a1919;
    opacity: 0;
    border-radius: 9px;
    color: white;
    text-align: center;
    transition: all;
    transition-duration: .5s;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.albums-list__list-item:hover > .albums-list__list-item__description {
    opacity: 1;
}

/*
---------------------------------------------

START: Albums list item description album name

---------------------------------------------
*/

.albums-list__list-item__description__album-name {
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

/*
---------------------------------------------

END: Albums list item description album name

---------------------------------------------

START: Albums list item description artist

---------------------------------------------
*/

.albums-list__list-item__description__artist {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 30px 0;
}

/*
---------------------------------------------

END: Albums list item description artist

---------------------------------------------

START: Albums list item description favorite button

---------------------------------------------
*/

.albums-list__list-item__description__favorite-button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    font-size: 0;
    cursor: pointer;
}

.albums-list__list-item__description__favorite-button:active,
.albums-list__list-item__description__favorite-button:focus,
.albums-list__list-item__description__favorite-button:hover {
    outline: none;
}

/*
---------------------------------------------

START: Albums list item description favorite button icon

---------------------------------------------
*/

.albums-list__list-item__description__favorite-button__icon {
    height: 20px;
    fill: transparent;
    stroke: white;
    stroke-width: 2px;
}

.albums-list__list-item__description__favorite-button__icon--active {
    fill: white;
}

.albums-list__list-item__description__favorite-button:focus > .albums-list__list-item__description__favorite-button__icon,
.albums-list__list-item__description__favorite-button:hover > .albums-list__list-item__description__favorite-button__icon {
    filter: drop-shadow(0px 3px 3px white);
    -webkit-filter: drop-shadow(0px 3px 3px white);
}

.albums-list__list-item__description__favorite-button:active > .albums-list__list-item__description__favorite-button__icon {
    fill: white;
}
/*
---------------------------------------------

END: Albums list item description favorite button icon

---------------------------------------------

END: Albums list item description 
       favorite button

---------------------------------------------

END: Albums list item description

---------------------------------------------

END: Albums list item

---------------------------------------------

END: Albums list

---------------------------------------------
*/